.progress {
    height: 25px;
    position: relative;
    max-width: 70%;
	margin: 25px 0px;
	border-radius: 7px;
	background-color: #178093;
    margin-left: auto;
    margin-right: auto;
	
}
.progress .bar {
    height: 100%;
    transition: width 0.1s ease-out 0s;
	overflow: hidden;
	background-color: #ffd100;
		border-radius: 7px;
}

.progress .bar-text {
	color: #FFFFFF;
	text-align:center;
	height: 25px;
	line-height: 25px;
	position: absolute;
	width: 100%;
	font-size: large;
}
.bar-label {
	color: #000000;
	position: relative;
}

.bar.full {
	background-color: #ff0000 !important;
	width: 100% !important;
}
.select {
	margin: 15px;
}
.select select {
	padding: 15px;
}

button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	padding: 0.5em 1em;
	font-size: large;
}
button:hover {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.button-add {
     background: rgb(28, 184, 65);
}

.button-subtract {
    background: rgb(202, 60, 60);
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	text-align: center;
}


.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2%;
}
.col:first-child { margin-left: 0; }



.col_span { width: 32%; }


@media only screen and (max-width: 1024px) and (min-width: 860px) {
//Tablets view

}

@media only screen and (max-width: 767px) {
//Mobile View
	.col {  margin: 1% 0 1% 0%; }
	.col_span { width: 100%; }
	.progress {
		height: 50px;
	
	}
	.progress .bar-text {
		height: 50px;
		line-height: 50px;
		font-size: x-large;
	}
}
